body{
color: rgb(255, 255, 255);
background-color: rgba(9, 50, 9, 0.765);
font-family: "Inter", sans-serif;
 display: flex;
justify-content:center;
align-items: center;
height: 700px;
margin: 0;
}

button{
background-color: rgb(245, 247, 216);
color: rgb(11, 67, 42);
font-family: "Inter", sans-serif;
}

.passo{
display: none;

}
.passo.ativo{
display:block;

}
main{
max-width: 90%;
text-align: center;



}
img{
max-width: 70%; 
max-height: 60%;
}